*,
*::before,
*::after{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    background:white ;
    font-family: "Nunito",sans-serif;
}

#mainNavbar{
    font-size: 1.5rem;
    font-weight: 100;
    background:#08313A;
}

#mainNavbar .nav-link{
    color:white;
}

#mainNavbar .active{
    color:#107869;
}

#mainNavbar .nav-link:hover{
    color:#107869;
}

#mainNavbar .navbar-brand{
    font-size: 1.5rem;
    font-weight: 100;
    color: white;
}

.section{
    width:100%;
    min-height: 100vh;
    background-color:#ddd;
}

.sec-contato{
    min-height: 60vh;
}
.container{
    width: 80%;
    display:block;
    margin:auto;
    padding-top: 100px;
}

.content-section{
    float:left;
    width: 55%;
}

.image-section{
    float:right;
    width:40%;
}

.image-section img{
    padding-bottom: 30px;
    width:100%;
    height: auto;
}

.content-section{
    font-size: 1.7rem;
    font-weight: 100;
    text-align: justify;
    color:#08313A;
}

.content-section .social{
    text-align: center;
    margin-top: 40px;

}

a{
    text-decoration: none;
}

#email{
    list-style-type:none;
}
.content-section .social i{
    color:#08313A;
    font-size: 30px;
    padding: 0px 10px;
    
}

.content-section .social .click:hover{
    color:#107869;
    transition-duration: 0.5s;
}

@media screen and (max-width:768px){
    body{
        background-color: rgb(200, 214, 223);
    }
    
    .container{
        width: 80%;
        display:block;
        margin:auto;
        padding-top: 100px;
        
    }

    .content-section{
        float:none;
        width:100%;
        display:block;
        margin:auto;
        font-size: 1.3rem;
    }

    .image-section{
        float:none;
        width:100%;
        display:block;
        margin:auto;
    }

    .content-section .social{
        text-align: center;
        padding-bottom: 15px;
    }

    .image-section img{
        width: 100%;
        height: auto;
        display: block;
        margin:auto;
    }
}

#contato{
    background-color: rgb(200, 214, 223);

    font-size: 1.7rem;
    font-weight: 100;
    text-align: justify;
    color:#08313A;
}

.duvidas{
    font-size: 1.5rem;
}

.img-palmeira{
    box-sizing: border-box;
}

.palmeiras{
    width:100%;
    display: block;
    align-items: center;
    max-height: 650px;
    object-fit: cover;

    
}

.info{
    line-height: 200%;
}

.left{
    float:left;
    width: 55%;
}

.right{
    float:right;
    width:30%;
}

.right .social i{
    color:#08313A;
    font-size: 30px;
    padding: 0px 10px;
    padding-bottom: 20px;
}

.right .social .click:hover{
    color:#107869;
    transition-duration: 0.5s;
}

.github{
    color:#08313A;    
}

@media screen and (max-width:768px){
    .palmeiras{
        width:100%;
        display: block;
        align-items: center;
        max-height: 650px;
        object-fit: cover;
    
        
    }
    .section{
        width: 80%;
        display:block;
        margin:auto;
        padding-top: 0px;
    }

    .left{
        float:none;
        width:100%;
        display:block;
        margin:auto;
        font-size: 1.3rem;
    }

    .right{
        float:none;
        width:100%;
        display:block;
        margin:auto;
        padding-bottom: 50px;
    }

    .social{
        text-align: center;
        padding-top: 15px;
        padding-bottom: 15px;
    }

}